* {
  overflow-x: hidden;
  font-family: "Montserrat", Sans-serif !important;
}

body {
  background-color: #252525;
  color: whitesmoke;
  text-align: center;
}

.red {
  color: red;
}

.cover {
  position: relative;
  border: solid 0px red;
  border-top-width: 4px;
  border-radius: 20px;
  width: auto;
  height: auto;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: red;
  z-index: 99999;
}

.notice-cover {
  width: 90%;
}


.carousel-container {
  animation: mover 5s ease-in-out infinite;
  width: 1200px;       
  position: relative; 
  left: 0;            
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - 50%));
  }
  100% {
    transform: translateX(0);
  }
}


/* Card do plano */
.plan-card {
  background-color: #444;  /* Cinza-escuro para destaque */
  border-radius: 8px;
  padding: 20px;
  /* text-align: center; */
}

img {
  flex-shrink: 0;
  object-fit: cover;
}

ul {
  text-align: left;
}

a {
  color: whitesmoke;
  text-decoration: none;
  background-image: linear-gradient(120deg, #44a70b 0%, #78ac5a 100%);
  padding: 20px 20px;
  border-radius: 5px;
  max-width: fit-content;
  color: whitesmoke;
  font-weight: 600;
}

@keyframes buyButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.mainBuyButton {
  animation: 2s buyButton ease-in-out infinite !important;
}